@inherits LayoutComponentBase

<PageTitle>CardMatchingGame</PageTitle>

<div class="page">
    <main>
        <div class="top-row">
            <RadzenLink Path="" Text="Card Matching Game" />
        </div>
        @Body
    </main>
</div>
